*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfdfdf;
  display: grid;
  margin: 0 auto;
  min-height: 100vh;
  place-content: center;
}
body div #quote-box {
  display: grid;
  font-size: 2.6rem;
  grid-template-columns: auto 2fr auto;
  grid-template-rows: 2fr clamp(1rem,2rem,3rem) 1fr;
  height: 30vh;
  width: 30vw;
}
body q {
  grid-column: 1/5;
  grid-row: 1;
  padding: 0.3rem;
  width: 100%;
}
body span {
  display: block;
  font-style: italic;
  grid-column: 1/2;
  grid-row: 3;
  text-align: center;
}
body button {
  all: initial;
  cursor: pointer;
  font-size: 2.6rem;
  grid-column: 3/5;
  grid-row: 3;
  height: fit-content;
  width: fit-content;
}

/*# sourceMappingURL=index.css.map */
